# tailscale oauth credentials
TS_CLIENT_ID=your_tailscale_client_id
TS_CLIENT_SECRET=your_tailscale_client_secret

# ros configuration
ROS_DOMAIN_ID=14
ROS_DISCOVERY_SERVER=127.0.0.1:11811

# rosbag api
ROSBAG_API_PORT=8080
ROSBAG_CONTAINER_NAME=rosbag
ROSBAG_IMAGE=tailscale-ros-telemetry-rosbag
ROSBAG_WORKSPACE=/home/cev/tailscale-ros-telemetry

# internal container names
TAILSCALE_CONTAINER_NAME=ts-authkey-container
